/* التصميم الأساسي */
.toggle-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 150px; /* مسافة بين النص والزر */
}

#vibrationText {
    font-size: 15px;
    white-space: nowrap;
    font-weight: bold;
}

/* زر التبديل */
.toggle-btn {
    position: relative;
    width: 50px;
    height: 25px;
    background-color: #ccc;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* الكرة داخل الزر */
.toggle-ball {
    position: absolute;
    top: 2px;
    left: 2px;
    width: 21px;
    height: 21px;
    background-color: white;
    border-radius: 50%;
    transition: left 0.3s ease;
}

/* زر بحالة التشغيل */
.toggle-btn.active {
    background-color: #2D83EC;
}

.toggle-btn.active .toggle-ball {
    left: 26px;
}

/* زر بحالة الإيقاف */
.toggle-btn.inactive {
    background-color: red;
}

#enrContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 15px;
    left: 115px; 
    width: auto;
    height: 30px;
    z-index: 500;
    border: 1px solid #1c1c1c;
    border-radius: 25px; /* زوايا مستديرة في الأسفل فقط */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.00009);
    backdrop-filter: blur(5px); 
} 

/*#clickSection {
  position: fixed;
  bottom: 120px;
  left: 50%;
  transform: translateX(-50%);
  width: 89%;
  height: 55px;
  background-color: #101010;
  border-right: 1px solid #1c1c1c;
  border-top: 1px solid #1c1c1c;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  padding-left: 10px ;
  padding-right: 5px; 
  box-sizing: border-box;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}*/

#clickSection {
  position: fixed;
  bottom: 120px;
  left: 50%;
  transform: translateX(-50%);
  width: 89%;
  height: 55px;
  background-image: 
    radial-gradient(circle at 24% 23%, rgba(167, 167, 167,0.06) 0%, rgba(167, 167, 167,0.06) 25%,rgba(148, 148, 148,0.06) 25%, rgba(148, 148, 148,0.06) 50%,rgba(129, 129, 129,0.06) 50%, rgba(129, 129, 129,0.06) 75%,rgba(110, 110, 110,0.06) 75%, rgba(110, 110, 110,0.06) 100%),
    radial-gradient(circle at 58% 30%, rgba(14, 14, 14,0.06) 0%, rgba(14, 14, 14,0.06) 25%,rgba(60, 60, 60,0.06) 25%, rgba(60, 60, 60,0.06) 50%,rgba(107, 107, 107,0.06) 50%, rgba(107, 107, 107,0.06) 75%,rgba(153, 153, 153,0.06) 75%, rgba(153, 153, 153,0.06) 100%),
    radial-gradient(circle at 79% 53%, rgba(225, 225, 225,0.06) 0%, rgba(225, 225, 225,0.06) 25%,rgba(189, 189, 189,0.06) 25%, rgba(189, 189, 189,0.06) 50%,rgba(152, 152, 152,0.06) 50%, rgba(152, 152, 152,0.06) 75%,rgba(116, 116, 116,0.06) 75%, rgba(116, 116, 116,0.06) 100%),
    linear-gradient(221deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.3));
  background-size: cover;
  background-position: center;
  /*border-right: 1px solid #1c1c1c;
  border-top: 1px solid #1c1c1c;*/
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  padding-left: 10px;
  padding-right: 0; 
  box-sizing: border-box;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.energy-bar-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.circular-energy-bar {
  position: relative;
  width: 40px;
  height: 40px;
}

.progress-ring {
  transform: rotate(-90deg);
  position: absolute;
  top: 0;
  left: 0;
}

.progress-ring__circle {
  stroke: #4375ca;
  stroke-dasharray: 125.6; /* المحيط = 2 * π * نصف القطر */
  stroke-dashoffset: 0; /* قيمة البداية (الكامل) */
  transition: stroke-dashoffset 0.5s ease;
}

.energy-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  color: #fff;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3), 
                 0 -1px 2px rgba(255, 255, 255, 0.5); /* تأثير الظلال للأيقونة */
}

#energyInfo {
  margin-left: 5px;
  margin-right: 10px;
  color: white;
  font-size: 12px;
  font-weight: 400; 
  font-style: normal;
  font-family: 'Archivo Black', sans-serif; 
}

#clickDisplay {
  color: white;
  font-size: 20px;
  font-weight: 400; 
  font-style: normal;
  font-family: 'Archivo Black', sans-serif; 
  text-align: center;
  flex: 1;
  margin: 0 auto;
}

/*#clickCountDisplay::before {
    content: "";
    display: inline-block;
    width: 30px; 
    height: 30px; 
    background-image: url('i/coinss.png'); 
    background-size: cover; 
    margin-right: 3px; 
    margin-left: 0;
    vertical-align: middle; 
}*/

#claimButton {
  background-color: #fff;
  color: #000;
  border: none;
  font-weight: bold;
  border-radius: 20px;
  width: 22%;
  height: 70%;
  font-size: 15px;
  margin-left: auto;
  margin-right: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#claimButton:hover {
  background-color: #0056b3;
}




.confetti-effect {
    position: fixed;
    top: 40px; /* تحت الإشعار مباشرة */
    left: 0;
    width: 100%; /* تملأ العرض بالكامل */
    height: auto; /* تحافظ على نسبة الصورة */
    z-index: 9999; /* فوق كل العناصر */
    pointer-events: none; /* لا تتفاعل مع الماوس */
    animation: fadeInOut 4s ease-in-out; /* تأثير الدخول والخروج */
}

@keyframes fadeInOut {
    0% { opacity: 0; }
    10% { opacity: 1; }
    90% { opacity: 1; }
    100% { opacity: 0; }
}



/* تصميم رصيد المحفظة */
#balanceuser {
  display: flex;
  justify-content: center; /* لمحاذاة الرصيد أفقيًا */
  align-items: center; /* لمحاذاة الرصيد رأسيًا */
  position: absolute;
  top: 18%; /* تحديد الجزء العلوي */
  width: 100%; /* تغطية عرض الشاشة بالكامل */
}

#WalletBalanceuser {
  font-size: 35px;
  color: #fff;
  text-align: center;
}

/* تصميم الأزرار */
.button-container {
  display: flex;
  justify-content: space-around; /* توزيع الأزرار بشكل متساوٍ */
  align-items: center;
  position: absolute;
  top: 30%; /* وضع الأزرار في منتصف الشاشة رأسيًا */
  width: 95%; /* تقليل العرض لإضافة مسافة من الجوانب */
  margin: 0 auto; /* محاذاة الحاوية بالمنتصف */
}

.wallet-buttonn {
  display: flex;
  flex-direction: column; /* ترتيب الأيقونة فوق النص */
  align-items: center;
  justify-content: center;
  text-align: center;
}

.wallet-buttonn i {
  background-color: #101010; /* لون الزر */
  color: white;
  border-radius: 50%; /* جعل الزر دائري */
  width: 50px; /* عرض الزر */
  height: 50px; /* ارتفاع الزر */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px; /* حجم الأيقونة */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
  cursor: pointer;
}

.wallet-buttonn i:hover {
  transform: scale(1.1); /* تأثير التكبير عند التمرير */
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.wallet-buttonn p {
  margin-top: 8px; /* مسافة بين الأيقونة والنص */
  font-size: 14px;
  color: #808080; /* لون النص */
  font-weight: bold;
}









#stingContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 15px;
    left: 20px; 
    padding-right: 2px;
    width: auto;
    height: 30px;
    z-index: 500;
    border: 1px solid #1c1c1c;
    border-radius: 25px; /* زوايا مستديرة في الأسفل فقط */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.00009);
    backdrop-filter: blur(5px); 
} 


#leaderboardPage {
    padding-top: 50px;
    padding-bottom: 100px;
    overflow-y: auto;
    background-clip: padding-box;
    position: relative;
    background-color: #1A1A1A;
    box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.9); /* ظل داخلي لإضافة عمق للحواف */
} 

.Leaders-image { 
    width: 150px;
    margin: 10px auto;
    height: auto;
    display: block;
}   

#Leaders-txt {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 25px; /* يمكنك تغيير القيمة حسب المسافة التي تريدها */
    font-weight: bold;
    font-size: 20px; 
}

#Leaders-txxt {
    text-align: left;
    color: #808080;
    margin-top: 15px;
    margin-left: 20px;
    margin-bottom: 10px; /* يمكنك تغيير القيمة حسب المسافة التي تريدها */
    font-weight: bold;
    font-size: 15px; 
}

.user-ranking {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%; 
    margin: 0 auto;
    margin-bottom: 15px;
    height: 60px;
    border: 1px solid #1c1c1c;
    border-radius: 20px; /* زوايا مستديرة في الأسفل فقط */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.00009);
    backdrop-filter: blur(5px); 
} 

.leaderboard-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%; 
    margin: 0 auto;
    margin-bottom: 15px;
    height: 60px;
    background-color: #101010;
    border-radius: 20px;
    border-bottom: 1px solid #1a1a1a;
    border-right: 1px solid #1a1a1a;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
} 

.leaderboard-avatar {
    width: 36px;
    height: auto;
    border-radius: 50%;
    margin-left: 10px;
    border: 1px solid #161616; 
    padding: 2px;
    object-fit: cover;
}

.leaderboard-username {
    flex: 1;
    font-size: 15px;
    margin-left: 10px;
} 

.leaderboard-balance {
    font-size: 14px;
    color: #fff;
    text-align: center;
    margin-right: 10px;
}

.leaderboard-rank {
    font-size: 14px;
    font-weight: bold;
    margin-right: 10px;
    color: #4375ca;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.05); /* شفافية */
    backdrop-filter: blur(2px); 
    display: none; 
    z-index: 999; /* أعلى من باقي العناصر */
}

.minee-container {
    left: 50%; /* تبدأ من منتصف الشاشة */
    transform: translateX(-50%); /* يتم تحريكها بشكل أفقي بحيث تكون بالمنتصف */
    width: 99%; /* تغطي كامل عرض الشاشة */
    height: 536px;
    position: absolute; /* تموضع مطلق */
    top: 102px; /* تبدأ من أسفل اشاشة */
    background: none; /* الخلفية السوداء */
    border-radius: 30px 30px 0 0; /* زوايا مستديرة */
} 
 
.container-gate {
    left: 50%;
    transform: translateX(-50%);
    width: 98%;
    height: 60px;
    position: relative; /* استخدم relative لتجنب التداخل مع العناصر الأخرى */
    display: flex;
    justify-content: space-between;
    gap: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(2px);
    flex-wrap: wrap;
    border-radius: 20px;
    margin-top: 40px; /* المسافة بين البوابات وبقية المحتوى */
}

/* تنسيق كل بوابة */
.portal {
    position: relative;
    width: 80%;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.portal:hover {
    transform: scale(1.05);
}

/* تنسيق الصورة داخل البوابة */
.portal img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

/* تنسيق محتوى البوابة */
.portal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    padding: 20px;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 20px;
    width: 80%;
}

/* تنسيق العنوان داخل البوابة */
.portal-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #00c4cc; /* لون تركوازي */
}

/* تنسيق الوصف داخل البوابة */
.portal-description {
    font-size: 16px;
    line-height: 1.5;
    color: #fff;
    opacity: 0.9;
}

/* تنسيق للأجهزة الصغيرة */
@media (max-width: 768px) {
    .portal {
        width: calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .portal {
        width: 100%;
    }
}


#mainPage {
    backdrop-filter: blur(3px); 
    padding-top: 50px; 
    overflow-y: auto; 
    background-clip: padding-box;
    box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.9); /* ظل داخلي لإضافة عمق للحواف */
}


#leaderboardnavbarBalanceDisplay, #miningnavbarBalanceDisplay, #BoostnavbarBalanceDisplay, #tasknavbarBalanceDisplay, #navbarBalanceDisplay,
#lvlnavbarBalanceDisplay, #puzzlenavbarBalanceDisplay, #AccountnavbarBalanceDisplay, #gnavbarBalanceDisplay {
    font-size: 14px;
    margin-left: 0;
    margin-right: 15px;
    left: 40px;
    color: #ffffff; /* لون النص */
    transition: padding 0.2s ease; /* تأثير بسيط عند التمدد */
    min-width: 30px; /* عرض أدنى للعنصر */
    white-space: nowrap; /* لمنع النص من الانتقال إلى سطر جديد */
} 

#leaderboardnavbarBalanceDisplay::before,
#gnavbarBalanceDisplay::before,  
#navbarBalanceDisplay::before,  
#AccountnavbarBalanceDisplay::before, 
#tasknavbarBalanceDisplay::before, 
#puzzlenavbarBalanceDisplay::before,
#BoostnavbarBalanceDisplay::before, 
#lvlnavbarBalanceDisplay::before, 
#miningnavbarBalanceDisplay::before {
    content: ""; /* لا نحتاج نصًا هنا */
    display: inline-block;
    width: 28px; /* تحديد عرض الصورة */
    height: 28px; /* تحديد ارتفاع الصورة */
    background-image: url('i/coinnc.png'); /* مسار الصورة */
    background-size: cover; /* لتغطية العنصر بالصورة بشكل جيد */
    margin-right: 2px; /* مسافة بين الصورة والنص */
    margin-left: 0;
    vertical-align: middle; /* لضبط المحاذاة العمودية */
}

#globalNavbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 13px;
    left: 20px; 
    width: auto;
    height: 27px;
    z-index: 500;
    border: 1px solid #1c1c1c;
    border-radius: 20px; /* زوايا مستديرة في الأسفل فقط */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.00009);
    backdrop-filter: blur(5px); 
}

#balanceContainer {
    font-weight: bold;
}

#tasksPage {
    padding-top: 80px; /* يمكنك تغيير القيمة حسب الحاجة */
    background-clip: padding-box; /* تأكد من أن الخلفية لا تؤثر على المسافة */
    overflow-y: auto; /* لجعل الصفحة قابلة للتمرير */
    padding-bottom: 100px; /* مسافة سفلية */
    box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.9); /* ظل داخلي لإضافة عمق للحواف */
}


#accountPage {
    padding-top: 60px; /* يمكنك تغيير القيمة حسب الحاجة */
    background-clip: padding-box; /* تأكد من أن الخلفية لا تؤثر على المسافة */
    overflow-y: auto; /* لجعل الصفحة قابلة للتمرير */
    padding-bottom: 180px; /* مسافة سفلية */
    box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.9); /* ظل داخلي لإضافة عمق للحواف */
}


#Puzzlespage  {
    padding-bottom: 100px;
    overflow-y: auto;
    padding-top: 50px; /* يمكنك تغيير القيمة حسب الحاجة */
    background-clip: padding-box; /* تأكد من أن الخلفية لا تؤثر على المسافة */
    box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.9); /* ظل داخلي لإضافة عمق للحواف */
}

#gamePage {
    padding-top: 60px;
    padding-bottom: 100px;
    overflow-y: auto;
    background-clip: padding-box;
    position: relative;
    box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.9); /* ظل داخلي لإضافة عمق للحواف */
}



#boostsPage {
    background-size: cover;
    padding-top: 50px; /* يمكنك تغيير القيمة حسب الحاجة */
    background-clip: padding-box; /* تأكد من أن الخلفية لا تؤثر على المسافة */
    overflow-y: auto; /* لجعل الصفحة قابلة للتمرير */
    padding-bottom: 120px; /* مسافة سفلية */
    box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.9); /* ظل داخلي لإضافة عمق للحواف */
}



#levelPage {
    padding-top: 80px; /* يمكنك تغيير القيمة حسب الحاجة */
    background-clip: padding-box; /* تأكد من أن الخلفية لا تؤثر على المسافة */
    overflow-y: auto; /* لجعل الصفحة قابلة للتمرير */
    padding-bottom: 40px; /* مسافة سفلية */
    box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.9); /* ظل داخلي لإضافة عمق للحواف */
}


#walletPage {
    padding-top: 0; /* يمكنك تغيير القيمة حسب الحاجة */
    background-clip: padding-box; /* تأكد من أن الخلفية لا تؤثر على المسافة */
    overflow-y: auto; /* لجعل الصفحة قابلة للتمرير */
    padding-bottom: 0; /* مسافة سفلية */
    box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.9); /* ظل داخلي لإضافة عمق للحواف */
}

#DailyPage {
    padding-top: 50px; /* يمكنك تغيير القيمة حسب الحاجة */
    background-clip: padding-box; /* تأكد من أن الخلفية لا تؤثر على المسافة */
    overflow-y: auto; /* لجعل الصفحة قابلة للتمرير */
    padding-bottom: 180px; /* مسافة سفلية */
    box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.9); /* ظل داخلي لإضافة عمق للحواف */
}

#SettingsPage {
    padding-top: 90px; /* يمكنك تغيير القيمة حسب الحاجة */
    background-clip: padding-box; /* تأكد من أن الخلفية لا تؤثر على المسافة */
    overflow-y: auto; /* لجعل الصفحة قابلة للتمرير */
    padding-bottom: 50px; /* مسافة سفلية */
    box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.9); /* ظل داخلي لإضافة عمق للحواف */
}

#miningPage {
    padding-top: 40px;
    padding-bottom: 150px;
    overflow-y: auto;
    background-clip: padding-box;
    position: relative;
    box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.9); /* ظل داخلي لإضافة عمق للحواف */
}

