body {
    font-family: Arial, sans-serif;
    background-color: #101010;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.update-notification {
    text-align: center;
    padding: 20px;
    background-color: #161616;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    width: 400px;
}

.update-notification h2 {
    margin-bottom: 10px;
    color: #fff;
}

.update-notification p {
    margin: 5px 0;
    color: #555;
}
