#competition-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

#competition {
  display: flex;
  overflow-x: auto;
  gap: 15px;
  padding: 10px;
  scroll-behavior: smooth;
  direction: ltr;
}

.competition-item {
  border: 0.5px solid #1c1c1c;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5px);
  width: 95%;
  height: 120px;
  flex: 0 0 auto;
  border-radius: 15px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.competition-item i {
  font-size: 30px;
  color: #2D83EC;
  position: absolute;
  top: 15px;
  left: 20px;
}

.competition-title {
  margin: 50px 10px 0 10px;
  font-size: 18px;
  text-align: left;
}

.competition-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
  padding: 0 10px;
}

.competition-saw {
  font-size: 16px;
  color: #2D83EC;
}

.action-icon {
  width: 20px;
  height: 20px;
  color: #808080;
}

.scroll-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(24, 24, 24, 0.8);
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: white;
  z-index: 10;
}

#left-arrow {
  left: 10px;
  display: none; /* مخفي افتراضياً */
}

#right-arrow {
  right: 10px;
}




.icon-gamepad {
    display: block;
    margin: 5px auto;
    color: #000; 
} 

.Play-game-button {
    border: 1px solid #1c1c1c;
    border-radius: 20px; /* زوايا مستديرة في الأسفل فقط */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.00009);
    backdrop-filter: blur(5px); 
    width: 35px; /* تحديد عرض ثابت */
    height: 35px; /* نفس القيمة مثل العرض */
    padding: 0; /* لضبط المساحة الداخلية */
    border-radius: 50%;
    /*margin-left: 5px;*/
    animation: popIn 0.4s ease forwards;
}
 
.Play-game-button i {
    font-size: 1.2rem;
    color: #fff; 
} 

.Gamess {
    max-height: 355px; /* تحديد ارتفاع ثابت للحاوية الداخلية */
    width: 89%; /* عرض الحاوية الداخلية كاملاً */
    overflow-y: auto; /* تمكين التمرير العمودي */
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px); /* تأثير الضبابية */
    padding: 10px;
    border: 2px solid #343434;
    border-radius: 10px;
} 

.games-section {
    text-align: center;
    margin-top: 20px;
}


#gamePage .gamePage-image {
    width: 100px;
    height: auto;
    display: block;
    margin: 0 auto;
}

#GA {
    color: #fff; 
    font-size: 22px; 
    text-align: left;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: auto;
    margin-left: 20px;
    animation: popIn 0.4s ease forwards;
}


#currentGameInfo {
    font-size: 1.2rem;
    color: #aaaaaa;
    margin-bottom: 25px;
}


.game-container {
    display: flex;
    flex-direction: column; /* ترتيب الألعاب عموديًا */
    gap: 20px; /* مسافة بين العناصر */
    align-items: flex-start; /* محاذاة للعناصر لليسار */
    padding: 10px;
}

.game-item {
    pointer-events: none; 

    display: flex;
    flex-direction: column; /* الصورة فوق النص */
    align-items: flex-start; /* محاذاة العناصر لليسار */
    width: 96%; /* عرض الصورة بالكامل */
    height: 240px;
    margin: 5px auto;
    margin-bottom: 10px;
    border: 1px solid #1c1c1c;
    border-radius: 20px; /* زوايا مستديرة في الأسفل فقط */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.00009);
    backdrop-filter: blur(5px); 
}

.game-image {
    width: 100%; /* تجعل الصورة تملأ العرض */
    height: 100%;
    max-width: 500px; /* حد أقصى لحجم الصورة */
    border-radius: 20px; /* زوايا دائرية */
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.game-image:hover {
    transform: scale(1.05); /* تكبير الصورة عند التمرير */
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.5); /* تأثير الظل */
}

.game-title {
    font-size: 15px;
    color: #fff; /* لون النص */
    margin-top: 10px; /* مسافة بين النص والصورة */
    margin-left: 20px; /* محاذاة النص لليسار */
    margin-bottom: 30px; 
}
 
